<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
">
    <context:component-scan base-package="java"/>

    <context:annotation-config/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!--.........................................................................-->
    <bean id="dummy" class="Question1.Dummy">
    </bean>
   <bean id="listener" class="Question3.MyApplicationListener"></bean>
    <bean id="publisher" class="Question3.MyApplicationPublisher"></bean>

    <bean id="listener1" class="Question2.MyEventListener"></bean>
    <bean id="listener2" class="Question2.MyEventListener1"></bean>

<bean id="database" class="Question3.Database"></bean>
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <bean class="Question_4_5_6.MyAspect"></bean>
<bean class="Question_4_5_6.Services"></bean>

    <bean class="Question_7.MyAspect"></bean>
    <bean id="services" class="Question_7.Services"></bean>



    <bean class="Question_8_9.MyAspect"></bean>
    <bean id="services1" class="Question_8_9.Services"></bean>

</beans>