<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">ttn</property>
        <property name="hibernate.connection.password">Poojattn
        </property>

        <!--JDBC connection pool-->
        <property name="connection.pool_size">10</property>

        <!-- SQL Dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--echo all executed SQL-->
        <property name="show_sql">true</property>

        <!--drop or re-create database schema at startup-->


        <!--Question 2-->
        <property name="hbm2ddl.auto">create</property>

        <!--Question 4- Perform hbm2dll create-drop by closing session factory.-->
        <!--<property name="hbm2ddl.auto">create-drop</property>-->



        <!--

        Question 3-
                <property name="hbm2ddl.auto">update</property>
        -->

        <!--Annotated entity1 class-->
        <mapping class="com.ttn.entity.Author"/>
        <mapping class="com.ttn.entity.Book"/>
        <mapping class="com.ttn.entity.AuthorOneToManyBi"/>
        <mapping class="com.ttn.entity.BookManyToOne"/>
        <mapping class="com.ttn.entity.AuthorOneToManyUni"/>
        <mapping class="com.ttn.entity.AuthorOneToManyWithoutAdditionalTable"/>
        <mapping class="com.ttn.entity.BookManyToOneWithoutTable"/>
        <mapping class="com.ttn.entity.BookManyToMany"/>
        <mapping class="com.ttn.entity.AuthorManyToMany"/>

    </session-factory>
</hibernate-configuration>